body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
}

nav {
    position: fixed;
    width: 100%;
    background-color: #1C3334;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #575757;
    color: #AFD275;
}

section {
    padding: 100px 20px;
    min-height: 100vh;
}

#home {
    background-color: #D3D9D4;
}

#about {
    background-color: #748D92;
}

#services {
    background-color: #AFDDE5;
}

#contact {
    background-color: #C5CBE3;
}
